header {
    padding: 30px;
    text-align: left;
    font-size: 25px;
    color: #f7f5f5;
    font-family:'Handlee', cursive;
    border-image-width: 1px;
    background-color: rgb(77, 78, 78);
}

img {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}


ol li {
    font-size: 15px;
    font-family: verdana;

}

ul li {
    font-size: 15px;
    font-family: verdana;

}

li {
    font-size: 15px;
    font-family: verdana;

}

body {
    background-color: rgb(229, 231, 233);
    text-align: left;
    font-size: 17px;
    color: rgb(9, 9, 9);
    font-family: verdana;


}

.poster-row {
    padding-top: 50px;
}

img.poster {

    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 200px;
}

